
body {
    padding-top: 55px;
}

*, .row div, .jumbotron {
    font-family: 'Trade Gothic', 'Trade Gothic W01', 'Trade Gothic wf';
}

.swagger-section .api-ic .api_information_panel {
    z-index: 10;
}

.scope_list {
    display: none;
}


#section-api-doc {
    position: relative;
    min-height: 50vh;
}

.swagger-ui-wrap .info {
    display: none;
}

.propDesc {
    color: #AAA;
}

input.invalid {
    box-shadow: 0 0 5px 1px red;
}

input.invalid:focus {
    outline: none;
}

.scope_list {
    display: none;
}

.swagger-section .swagger-ui-wrap {
    max-width: none;
}

.container, #api_info {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container, #api_info {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container, #api_info {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container, #api_info {
        width: 1170px;
    }
}

/** resource **/
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a {
    text-transform: uppercase;
}

/** search **/
.swagger-section .swagger-ui-wrap ul#resources li.resource,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation {
    transition: all 500ms;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource.--hidden,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.--hidden {
    opacity: 0;
    transform: translateX(30px);
}

/** Override code presentation **/
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading {
    padding: 5px;
}

.swagger-ui-wrap {
    max-width: none;
    font-size: 1.1em;
}

.swagger-ui-wrap .model-signature pre {
    max-height: none;
}

.swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.response div.block pre {
    max-height: none;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.response div.block pre,
.swagger-section .swagger-ui-wrap .model-signature pre,
.swagger-section .swagger-ui-wrap .model-signature pre:hover {
    font-size: 12px;
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    border-radius: 4px;
    border: 0;
    background: #333;
    overflow-wrap: break-word;
    font-family: monospace;
    color: #fff;
    max-height: 400px;
}

.swagger-section pre code {
    color: #fff;
}

.swagger-section pre .string, .swagger-section pre .title, .swagger-section pre .constant, .swagger-section pre .parent, .swagger-section pre .tag .value, .swagger-section pre .rules .value, .swagger-section pre .rules .value .number, .swagger-section pre .preprocessor, .swagger-section pre .ruby .symbol, .swagger-section pre .ruby .symbol .string, .swagger-section pre .aggregate, .swagger-section pre .template_tag, .swagger-section pre .django .variable, .swagger-section pre .smalltalk .class, .swagger-section pre .addition, .swagger-section pre .flow, .swagger-section pre .stream, .swagger-section pre .bash .variable, .swagger-section pre .apache .tag, .swagger-section pre .apache .cbracket, .swagger-section pre .tex .command, .swagger-section pre .tex .special, .swagger-section pre .erlang_repl .function_or_atom, .swagger-section pre .markdown .header {
    color: #a2fca2;
}

.swagger-section pre .number, .swagger-section pre .date, .swagger-section pre .regexp, .swagger-section pre .smalltalk .symbol, .swagger-section pre .smalltalk .char, .swagger-section pre .go .constant, .swagger-section pre .change, .swagger-section pre .markdown .bullet, .swagger-section pre .markdown .link_url {
    color: #d36363;
}

.swagger-section pre .literal {
    color: #fcc28c;
}

