
.cm-Icon {
    font-family: "icons";
    font-style: normal;
    font-size: 160px;
    display: block;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
}

.cm-Icon--clubmed {
    display: block;
    height: 0;
}

.cm-Icon--clubmed:before {
    content: "\e010";
}

h2 .Icon {
    font-size: 1.5em;
    line-height: 1.1;
    margin: 0px;
    padding: 0;
    margin-top: -7px;;
}

.Contact-listInHouse-icon {
    font-size: 3em;
    margin: 0 0.2em 0.2em 0;

    float: left;
}

.Icon {
    font-family: "Icons CM";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Icon--Social {
    border: 1px solid #2b719d;
    font-size: 2.5em;
    width: 50px;
    height: 50px;
    padding: 6px 0 0 0;
    text-align: center;
    margin-top: 2px;
}

.Icon--title {
    float: none;
}

.Icon--clubmed {
    font-size: 1.65em;
}

.Icon--clubmed:before {
    content: "\f114";
}

.Icon--phoneCall:before {
    content: "\f124";
}

.Icon--callback:before {
    content: "\f10d";
}

.Icon--map:before {
    content: "\f122";
}

.Icon--quote:before {
    content: "\f127";
}

.Icon--faq:before {
    content: "\f11a";
}

.Icon--start:before {
    content: "\f121";
}

.Icon--facebook:before {
    content: "\f119";
}

.Icon--twitter:before {
    content: "\f13d";
}

.Icon--instagram:before {
    content: "\f120";
}

.Icon--youtube:before {
    content: "\f149";
}

.Icon--pinterest:before {
    content: "\f126";
}

.Icon--clubmed-business:before {
    content: "\f111";
}

.Icon--clubmed-jobs:before {
    content: "\f113";
}

.Icon--clubmediterranee:before {
    content: "\f115";
}