.swagger-ui.swagger-ui {
    font-size: 13px;
}

.swagger-ui.swagger-ui .parameter__name {
    font-size: 14px;
}

.swagger-ui.swagger-ui .markdown code, .swagger-ui.swagger-ui .renderedMarkdown code {
    font-size: 13px;
}

.swagger-ui.swagger-ui .opblock {
    box-shadow: none;
}

.swagger-ui.swagger-ui .bg-blue {
    background-color: hsla(203, 100%, 27%, 1);
}

.swagger-ui.swagger-ui .scope-def {
    border-left: 2px solid #DEDEDE;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-style: italic;
}

.swagger-ui.swagger-ui .scope-def p {
    color: #7d8293 !important;
}

.swagger-ui.swagger-ui .scope-def p:last-child {
    margin-bottom: 0;
}

.swagger-ui .dialog-ux label {
    font-size: 14px;
}

.swagger-ui .sidebar-operation-method {
    width: 32px;
    display: inline-block;
    height: 13px;
    line-height: 13px;
    background-color: rgb(51, 51, 51);
    font-size: 7px;
    font-family: Verdana;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 6px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 6px 4px;
}

.swagger-ui .bg-operation-post {
    background-color: #49cc90
}

.swagger-ui .bg-operation-get {
    background-color: #61affe
}

.swagger-ui .bg-operation-put {
    background-color: #fca130
}

.swagger-ui .bg-operation-delete {
    background-color: #f93e3e
}

.swagger-ui .bg-operation-head {
    background-color: #9012fe
}

.swagger-ui .bg-operation-patch {
    background-color: #50e3c2
}

.swagger-ui .bg-operation-disabled {
    background-color: #ebebeb
}

.swagger-ui .bg-operation-options {
    color: #0d5aa7
}

/* operation */
.swagger-ui.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui.swagger-ui .opblock .opblock-summary-path,
.swagger-ui.swagger-ui .opblock .opblock-summary-path__deprecated {
    padding-left: 0 !important;
    font-family: Trident, Trebuchet MS, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.swagger-ui.swagger-ui .opblock .opblock-summary-method {
    display: block;
    font-size: 10px;
    padding: 4px 8px;
    min-width: 60px;
}

.swagger-ui.swagger-ui .opblock .opblock-summary-description {
    color: #504747;
    font-size: 0.75rem
}

.swagger-ui.swagger-ui .opblock-tag {
    font-family: HappinessV, Arial, sans-serif;
    text-transform: uppercase;
    border-bottom: 0;
    padding-left: 0;
    font-size: 20px;
    color: hsla(203, 100%, 27%, 1);
    font-weight: normal;
}
