.swagger-ui .errors {
  @apply rounded-16 p-12;
  background-color: #fee;
  border-radius: 4px;
  color: #3b4151;
  font-family: monospace;

  b {
    @apply text-b3;
    display: block;
    margin-right: 10px;
  }
}

.swagger-ui .auth-btn-wrapper {
  display: flex;
  justify-content: center;
  @apply gap-12;
}
