body {
  .swagger-ui input[type="email"].invalid,
  .swagger-ui input[type="file"].invalid,
  .swagger-ui input[type="password"].invalid,
  .swagger-ui input[type="search"].invalid,
  .swagger-ui input[type="text"].invalid,
  .swagger-ui textarea.invalid {
    @apply border-red;
  }

  .swagger-ui :not(.choices) input[type="email"],
  .swagger-ui :not(.choices) input[type="password"],
  .swagger-ui input[type="search"]:not(.choices__input),
  .swagger-ui :not(.choices) input[type="text"] {
    @apply text-b4 rounded-pill w-full border px-12 py-12 font-normal outline-none border-lightGrey bg-white text-black;

    &:not([disabled]) {
      @apply focus:border-black active:border-black;
    }

    &.invalid {
      @apply border-red;
    }
  }

  .swagger-ui :not(.choices) select {
    @apply text-b5 rounded-pill border w-full px-12 py-12 font-normal outline-none border-lightGrey focus:border-black active:border-black bg-white text-black shadow-none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 340px;
  }

  .json-schema-array .json-schema-form-item-add {
    @apply mt-8;
  }
}

label > span {
  > input[type="checkbox"]:not([role="switch"]),
  > input[type="radio"] {
    @apply opacity-0 absolute w-full h-full border-0;

    + span {
      @apply bg-white;
    }
  }
}

label > span > input[type="radio"] {
  &[checked=""] + span svg {
    opacity: 1;
    transform: scale(1);
  }

  &[checked=""] {
    + span {
      @apply border-black;
    }
  }
}
