body {
  /* operation */

  .swagger-ui .opblock.opblock {
    border: 0;
    box-shadow: none;
    /* @apply bg-lightSand;*/
  }

  .swagger-ui .operation-tag-content {
    padding: 0;
    @apply pt-8 font-sans text-b4;
  }

  .swagger-ui .opblock .opblock-summary-path,
  .swagger-ui .opblock .opblock-summary-path__deprecated {
    @apply font-sans text-b4 pl-8;
  }

  .swagger-ui .opblock .opblock-summary {
    @apply px-12;
  }

  .swagger-ui .opblock .btn-group:not(.try-out) {
    @apply flex-col;
  }

  /* operation method */

  .swagger-ui .opblock .opblock-summary-method {
    @apply text-b6 font-serif block;
  }

  .swagger-ui .opblock.opblock-get .opblock-summary-method {
    @apply bg-lavender;
  }

  .swagger-ui .opblock.opblock-get .opblock-summary {
    @apply border-lavender;
  }

  .swagger-ui .opblock.opblock-post .opblock-summary-method {
    @apply bg-green;
  }

  .swagger-ui .opblock.opblock-post .opblock-summary {
    @apply border-green;
  }

  .swagger-ui .opblock.opblock-put .opblock-summary-method {
    @apply bg-saffron;
  }

  .swagger-ui .opblock.opblock-put .opblock-summary {
    @apply border-wave;
  }

  .swagger-ui .opblock.opblock-patch .opblock-summary-method {
    @apply bg-wave;
  }

  .swagger-ui .opblock.opblock-patch .opblock-summary {
    @apply border-saffron;
  }

  .swagger-ui .opblock.opblock-delete .opblock-summary-method {
    @apply bg-red;
  }

  .swagger-ui .opblock.opblock-delete .opblock-summary {
    @apply border-red;
  }

  .swagger-ui .model-box-control:focus,
  .swagger-ui .models-control,
  .swagger-ui .opblock-summary-control:focus {
    outline: none;
  }

  .operation-intersection-obs {
    margin: 0 !important;
  }

  /*  operation parameter */

  .swagger-ui .parameter__name {
    @apply text-b5 font-sans;

    &.required {
      &::after {
        top: -3px;
      }

      &::after,
      span {
        @apply text-red;
      }
    }
  }

  .swagger-ui table tbody tr td:first-of-type {
    min-width: 13em;
  }

  .swagger-ui .parameter__type {
    @apply text-b6 font-sans;
  }

  .swagger-ui .parameter__extension,
  .swagger-ui .parameter__in {
    @apply text-b6 font-sans;
  }

  .swagger-ui .parameters-col_description .markdown p,
  .swagger-ui .parameters-col_description .renderedMarkdown p {
    @apply text-b5 font-sans;
  }

  .swagger-ui .errors-wrapper {
    @apply text-b5 font-sans border-red;
  }

  .swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard {
    @apply rounded-pill h-32 w-32 opacity-0 transition-opacity duration-200 mx-2;
  }

  .swagger-ui .opblock .opblock-summary:hover .view-line-link.copy-to-clipboard {
    @apply h-32 w-32 opacity-100;
  }

  .swagger-ui .tab {
    @apply mb-4;
  }

  /* Model */

  .swagger-ui .model-box {
    @apply w-full font-sans;
  }

  .swagger-ui .model {
    @apply font-sans;
  }

  .swagger-ui .model-title {
    @apply text-b5 font-serif;
  }

  .swagger-ui .property-row:nth-child(odd) {
    background: rgba(250, 250, 250, 0.2);
  }

  .swagger-ui table.model tr.property-row td {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .swagger-ui table.model tbody tr td:first-of-type {
    @apply font-sans;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .swagger-ui table.model tr.description td:first-child,
  .swagger-ui table.model tr.property-row td:first-child {
    @apply text-ultramarine-active;
  }

  .swagger-ui table.model tr.property-row .star {
    @apply ml-4 text-red;
  }

  .swagger-ui .model-box-control {
    @apply flex items-center;
  }

  .swagger-ui .model-box-control > span {
    display: block;
  }

  .swagger-ui .model-toggle {
    @apply bg-white rounded-pill m-4 mx-8 top-0;
  }

  /* Response */

  .swagger-ui table tbody tr td.response-col_status {
    @apply text-b2 font-serif text-ultramarine;
  }
  .swagger-ui table tbody tr[data-code^="20"] {
    td.response-col_status {
      @apply text-b2 font-serif text-wave;
    }
  }

  .swagger-ui table tbody tr[data-code^="30"] {
    td.response-col_status {
      @apply text-b2 font-serif text-saffron-active;
    }
  }

  .swagger-ui table tbody tr[data-code^="40"],
  .swagger-ui table tbody tr[data-code^="41"] {
    td.response-col_status {
      @apply text-b2 font-serif text-red;
    }
  }

  .swagger-ui table tbody tr[data-code="400"],
  .swagger-ui table tbody tr[data-code="404"],
  .swagger-ui table tbody tr[data-code="416"] {
    td.response-col_status {
      @apply text-b2 font-serif text-saffron;
    }
  }

  .swagger-ui table tbody tr td {
    @apply pb-12;
  }

  .swagger-ui .opblock-description {
    .text-xxs {
      @apply flex items-center justify-center text-b6 py-4 px-8 mx-4 rounded-16 bg-wave;
    }
  }
}
