@import "choices.js/public/assets/styles/choices.css";

.choices {
  @apply rounded-pill text-b5;
  max-width: 340px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .choices__inner.choices__inner {
    @apply rounded-pill border-lightGrey bg-white;
  }

  &:not(.is-disabled) .choices__inner.choices__inner {
    @apply focus:border-black active:border-black text-black;
  }

  &.is-disabled .choices__inner.choices__inner {
    @apply text-grey;
  }

  &.is-open .choices__inner {
    @apply border-black;
  }
}

.choices[data-type*="select-one"] .choices__inner {
  @apply flex items-center;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  @apply border-lightGrey shadow-xl z-5;
}

.choices[data-type*="select-one"] .choices__input {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 0;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  @apply border-lightGrey shadow-xl rounded-4 mt-8;
}
