@import "~normalize.css";
@import "./styles/configs/configs.css";
@import "./fonts.css";
@import "./styles/core/core.css";
@import "./styles/mixins/mixins.css";
@import "./styles/tailwind/tailwind.css";

/*.contain-layout {*/
/*    contain: layout;*/
/*}*/

/*.contain-strict {*/
/*    contain: strict;*/
/*}*/

body {
    @apply font-tahoma;
}

.a11y, .a11y-focusable:not(:focus) {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    border: 0!important;
    overflow: hidden!important;
    padding: 0!important;
    white-space: nowrap!important;
    clip: rect(1px,1px,1px,1px)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
}
