.sticky-bottom .sticky-inner-wrapper {
  top: initial !important;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sticky-bottom-released {
  opacity: 0;
}

.last-child-mb-0:last-child {
  margin-bottom: 0;
}

.format-16\/9 {
  width: 96vw;
  height: 54vw;
}

::placeholder {
  color: color-mod(var(--Color-app-black) alpha(0.4));
  opacity: 1;
}

.direction-ltr {
  direction: ltr;
}

.appearance-none::-ms-expand {
  display: none;
}

/* flag */
.flag::before {
  @apply absolute h-full inline-block top-0 w-screen;

  content: '';
}

html:not(.rtl) .flag::before {
  right: 100%;
}

.rtl .flag::before {
  left: 100%;
}

/* site-container */
.site-container + .site-container {
  @apply mt-4;
}

@media (--r-minS) {
  .site-container + .site-container {
    @apply mt-5;
  }
}

.site-container .site-container {
  padding: 0;
}

.site-container-inner .site-container-inner {
  max-width: none;
}

/* toggler */
.toggler::after {
  @apply absolute;

  margin: calc(5rem / 16) calc(9rem / 16);
  width: 0;
  height: 0;
  border-top: 5px solid var(--Color-app-gray-dark);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: '';
}

.toggler.toggler-active::after {
  margin-top: calc(5rem / 16);
  border-top: none;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--Color-blue);
  border-left: 5px solid transparent;
}

/* hamburger */
.hamburger {
  @apply relative;
}

.hamburger-span,
.hamburger-span::before,
.hamburger-span::after {
  @apply bg-current block rounded-small;

  width: 22px;
  height: 3px;
}

.hamburger-span {
  transition: background-color linear 0.2s 0.25s;
}

.hamburger-span.hamburger-span-active {
  @apply bg-transparent;
}

.hamburger-span.hamburger-span-active {
  transition: background-color linear 0.2s;
}

.hamburger-span::before,
.hamburger-span::after {
  @apply absolute;

  content: '';
  transition: transform ease-in 0.2s, top ease-in 0.2s 0.2s;
}

.hamburger-span::before {
  top: -6px;
}

.hamburger-span::after {
  top: 6px;
}

.hamburger-span.hamburger-span-active::before,
.hamburger-span.hamburger-span-active::after {
  transition: top ease-in 0.2s, transform ease-in 0.2s 0.2s;
}

.hamburger-span.hamburger-span-active::before {
  @apply top-0;

  transform: rotate(-45deg);
}

.hamburger-span.hamburger-span-active::after {
  @apply top-0;

  transform: rotate(45deg);
}
