/* left */
.-left-1\/5 {
  left: -20%;
}

.left-1\/5 {
  left: 20%;
}

.left-1\/2 {
  left: 50%;
}

/* top */
.top-1\/2 {
  top: 50%;
}

.top-full {
  top: 100%;
}

/* bottom */
.bottom-full {
  bottom: 100%;
}

.bottom-1\/7 {
  bottom: 15%;
}
