@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(./fonts/icons/glyphicons-halflings-regular.eot);
    src: url(./fonts/icons/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(./fonts/icons/glyphicons-halflings-regular.woff) format('woff'), url(./fonts/icons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

/* Google Font's Droid Sans */
@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans'), local('DroidSans'), url('./fonts/DroidSans.ttf') format('truetype');
}

/* Google Font's Droid Sans Bold */
@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('./fonts/DroidSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "icons";
    src: url("./fonts/icons/icons-8b7ac638bed91d57b99067e69278e409.woff") format("woff"),
    url("./fonts/icons/icons-8b7ac638bed91d57b99067e69278e409.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Icons CM";
    src: url("./fonts/icons/Icons-CM-d56658fc1d8c2bf157e687fa7e4c0729.woff") format("woff"),
    url("./fonts/icons/Icons-CM-d56658fc1d8c2bf157e687fa7e4c0729.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Trade Gothic wf";
    src: url("./fonts/TradeGothicW01Roman.woff") format("woff"),
    url("./fonts/TradeGothicW01Roman.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
