div.jsoneditor {
  border-radius: 5px;
  padding: 4px;
}

div.jsoneditor,
div.jsoneditor-menu {
  border-color: #272822;
  background-color: #272822;
}

div.jsoneditor-menu {
  background-color: #4b4b4b;
  border-radius: 5px 5px 0px 0px;
}

div.jsoneditor-tree,
div.jsoneditor textarea.jsoneditor-text {
  background-color: #666666;
  color: #ffffff;
}

div.jsoneditor-field,
div.jsoneditor-value {
  color: #ffffff;
}

table.jsoneditor-search div.jsoneditor-frame {
  background: #808080;
}

.jsoneditor-poweredBy {
  display: none;
}
