/* decorator-border-grid */
.decorator-border-grid {
  @apply border-b-1;
}

.decorator-border-grid:nth-last-child(2):nth-child(odd),
.decorator-border-grid:last-of-type {
  @apply border-b-0;
}

.decorator-border-grid:nth-child(odd) {
  @apply border-r-1;
}

/* decorator-quote */
.decorator-quote::before,
.decorator-quote::after {
  @apply font-serif;
}

.decorator-quote::before {
  content: '\201C';
}

.decorator-quote::after {
  content: '\201D';
}

/* decorator-match */
.decorator-match .match {
  font-weight: bold;
}

/* decorator-slash-separator */
.decorator-slash-separator {
  position: relative;
}

.decorator-slash-separator + .decorator-slash-separator::before {
  position: absolute;
  top: 50%;
  line-height: 0;
  content: "/";
}

/* decorator-border-bottom-list */
.decorator-border-bottom-list + .decorator-border-bottom-list {
  @apply border-t-1;
}

/* decorator-border-bottom-after */
.decorator-border-bottom-after::after {
  @apply bg-gray-light block h-px w-full -mt-px;

  content: '';
}

/* decorator-separator-left */
.decorator-separator-left-list,
.decorator-separator-left,
.decorator-separator-left--unHover {
  position: relative;
}

.decorator-separator-left + .decorator-separator-left::before,
.decorator-separator-left--unHover:not(:hover) + .decorator-separator-left--unHover:not(:hover)::before {
  @apply absolute bg-gray-light block w-px;
}

.decorator-separator-left-list {
  @apply pr-2;
}

.decorator-separator-left-list + .decorator-separator-left-list {
  @apply pl-2;
}

.decorator-separator-left-list:last-child {
  @apply pr-0;
}

.decorator-separator-left-list + .decorator-separator-left-list::before,
.decorator-separator-left:not(:hover) + .decorator-separator-left:not(:hover)::before {
  @apply absolute bg-gray-light block w-px left-0;

  top: 50%;
  height: 60%;
  content: '';
  transform: translateY(-50%);
}

html:not(.rtl) .decorator-separator-left + .decorator-separator-left::before,
html:not(.rtl) .decorator-separator-left--unHover:not(:hover) + .decorator-separator-left--unHover:not(:hover)::before {
  @apply left-0;
}

.rtl .decorator-separator-left + .decorator-separator-left::before,
.rtl .decorator-separator-left--unHover:not(:hover) + .decorator-separator-left--unHover:not(:hover)::before {
  @apply left-0;
}

.decorator-separator-left-list + .decorator-separator-left-list::before {
  height: 100%;
}

/* after-decorator-line */
.after-decorator-line::after {
  @apply bg-gray-light block flex-1 h-px;

  content: '';
}

html:not(.rtl) .after-decorator-line::after {
  @apply ml-2;
}

.rtl .after-decorator-line::after {
  @apply mr-2;
}

/* decorator-losange */
.decorator-losange::before,
.decorator-losange::after {
  @apply bg-current flex-shrink-0 inline-block rotate-45;

  margin: 0 0.5em;
  width: 0.35em;
  height: 0.35em;
  content: '';
}

/* decorator-dash */
.decorator-dash::before {
  @apply font-sans font-bold self-start;

  font-size: 1em;
  content: '—';
}

body:not([dir='rtl']) .decorator-dash::before {
  margin-right: 0.5em;
  float: left;
}

body[dir='rtl'] .decorator-dash::before {
  margin-left: 0.5em;
  float: right;
}

/* decorator-trident-bg-blue */
.decorator-trident-bg-blue {
  @apply relative;
}

.decorator-trident-bg-blue::before {
  @apply absolute h-full leading-one opacity-10 overflow-hidden text-blue text-center w-full;

  font-size: 6em;
  content: '§';
}

/* decorator-trident-bg-white */
.decorator-trident-bg-white {
  @apply relative;
}

.decorator-trident-bg-white::before {
  @apply absolute leading-one opacity-25 top-0 text-white;

  font-size: calc(150rem / 16);
  content: '§';
}

@media (--r-minL) {
  .decorator-trident-bg-white::before {
    font-size: calc(200rem / 16);
  }
}

@media (--r-minXL) {
  .decorator-trident-bg-white::before {
    font-size: calc(240rem / 16);
  }
}

body:not([dir='rtl']) .decorator-trident-bg-white::before {
  right: 0;
}

body[dir='rtl'] .decorator-trident-bg-white::before {
  left: 0;
}

/* decoration-strikethrough ("must-try Experiences" title) */
.decoration-strikethrough {
  @apply flex items-center;
}

.decoration-strikethrough::after,
.decoration-strikethrough::before {
  @apply bg-blue;

  display: block;
  flex: 1 1 auto;
  height: 2px;
  content: '';
}

.decoration-strikethrough::after {
  @apply ml-6;
}

.decoration-strikethrough::before {
  @apply mr-6;
}

/* decoration-fancy-frame */
.decoration-fancy-frame {
  @apply relative;
}

.decoration-fancy-frame::after {
  @apply absolute inset-0 pointer-events-none;

  border: 10px solid rgba(255, 255, 255, 0.5);
  content: "";
}
